<div class="topic">
  <h2>{{topic.title}}</h2>
  <hr/>
  <div class="tabs">
    {{#link-to "topic.sciptures" class="active"}}Definition{{/link-to}}
    {{#link-to "topic.prayers"}}Proposals{{/link-to}}
    {{#link-to "topic.videos" class="active"}}Definition{{/link-to}}
  </div>
</div>